/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
  display:block;
}

.header .header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.main-section__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  width: 318px;
}

.main-section__wrapper {
  display: flex;
}

/* Не используйте теговые селекторы, за исключением намеренного сброса дефолтных стилей. */
ul { 
  margin: 0;
  padding: 0px;
}

li, 
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

/* Heading */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main-section__label {  
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.main-section__add-button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.text-input:focus {
  color: #333;
}

/* New Task */
.main-section__label {
  display: block;
  margin: 0 0 20px;
}

.main-section > .btn:hover {
  color: #0fc57c;
}

/* Task list */
.list__element {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__element > * {
  vertical-align: middle;
}

.list__element > .list__check-input {
  margin: 0 10px;
}

.list__element > .list__check-label {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.list__element >  .text-input {
  width: 226px;
}

.list__element > .list__del-btn:hover {
  color: #cf2323;
}

.list__del-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.list__del-img:hover {
  transform: rotateZ(0);
}

/* Completed */
.compl-tasks .list__check-label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list__text-input {
  display: none;
}

.list__element_edit-mode > .list__text-input {
  display: inline-block;
  width: 224px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  flex-grow: 1;
}

.list__element_edit-mode > .list__check-label {
  display: none;
}